body {
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #0F0;
  font-family: 'Courier New', monospace;
  cursor: wait;
}

header {
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 60px;
  letter-spacing: 5px;
}

main {
  margin: 50px;
}

section {
  margin-bottom: 50px;
}

h2 {
  font-size: 36px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 20px;
}

a {
  color: #0F0;
  text-decoration: none;
}

footer {
  background-color: #222;
  padding: 10px;
  text-align: center;
}

footer p {
  font-size: 14px;
  letter-spacing: 1px;
}
