body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  cursor: url('data:image/x-icon;base64,AAACAAEAICAQAAIAAgDoAgAAFgAAACgAAAAgAAAAQAAAAAEABAAAAAAAAAIAAAAAAAAAAAAAEAAAAAAAAAAAAAAAlf8AAFX/AAA4ODIA//cAABbeNwD/yAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAzMAAAAAAAAAAAAAAAAAAAMRMAAAAAAAAAAAAAAzMAADETAAADMAAAAAAAADETAAAyIwAANBMAAAAAAAAxEwAAMiMAADUjAAAAAAAANEMAADVTAAADMAAAAAAAADRDAAA1UwAAAAAAAAAAAAADNEM2YAZgAAAAAAAAAAAAAARABmAGYAAAAAAAAAAAAARDNmA0QARAAAAAAAAAAAAEQzZgNEAEQzMzMAAAAAAABmM2YDESIAESJVMAAAAAAAZjNmAxEiABEiVTAAAAAAAGYzRAMzM1UzMzMwAAAAAABmM0QAADNVAAAAAAAAAAAARDNEEREiAwAAAAAAAAAAAEQzRBERIgMAAAAAAAAAAABEMzMzMzMiAAAAAAAAAAAARDMzMzMzIjMzMAAAAAAzABERIiJVVQNVVTAAAAAAMwARESIiVVUDVVUwAAAAZjMAAAAAAAAAADMzAAAAAGYzAAAAAAAAAAAAAAAAAABEMzMzAAAAAAAAAAAAAAAARDMzMwAAAAAAAAAAAAAAMxEiVQAAAAAAAAAAAAAAADMRIlUAAAAAAAAAAAAAAAAzMwAAAAAAAAAAAAAAAAA');
}

header {
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 60px;
  color: #0F0;
  letter-spacing: 5px;
  margin: 0;
}

main {
  margin: 50px;
}

section {
  margin-bottom: 50px;
}

h2 {
  font-size: 36px;
  color: #0F0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  margin: 0;
}

p {
  color: #FFF;
  margin: 0;
}

a {
  color: #0F0;
  text-decoration: none;
}

footer {
  background-color: #000;
  padding: 10px;
  text-align: center;
}

footer p {
  font-size: 14px;
  color: #FFF;
  letter-spacing: 1px;
  margin: 0;
}
